* {    
    font-family: 'Playfair Display', serif;
     max-width: 100%; 
}

body {
       background-color:rgb(153, 0, 51); 
}

header  {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-evenly;
    background-color: rgb(191, 191, 191);
    margin-bottom: 20px;
    max-height: 100px;
    max-width: 100%;
    }

header h1 {
    color:rgb(153, 0, 51);
    background-color: rgb(191,191,191);
    text-align: center;
    display: inline-block;  
    }
    
nav {
    
        color: rgb(153, 0, 51); 
        padding: 10px 10px;
        max-height:50px; 
        text-align: right;
      }

nav a { color: rgb(153, 0, 51);
     
      }
  
nav ul li {
    display: inline-block;
    margin-left: 25px; 
    color: rgb(153, 0, 51);
       
}
     
main {
    display: flex;
    margin-top: 2px;
    margin-right: 2px;   
}


.about-me_1 h2 {
    text-align:center
}


.about-me h2 {
    text-align: center;
}

.about-me {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex;
   width: 100%;
   height: 75%;
   margin-bottom: 1% ;
   text-align: left;
}

.headshot {
    margin-top: 5% ;
}



#contact-me {
    margin-top: 5% ;
    color:rgb(191, 191, 191)

}
.about-me h2 {
    text-align: center;
}

.headshot {
    margin-right: 20px;
    margin-bottom: 20px;
}

.work {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        width: 100%;
        height: 75%%;
        border-width: 2px;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: center;
       
    }  

.main-example img {
/* width: 75% */
width: 287px;
height: 151px;
}

.main-example-gh img {
    width: 40px;
    height: 40px
}


.main-example {
    border-width: 2px;
    margin-right: 10px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.additional-example_1 {
    border-width: 2px;
    margin-right: 10px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.additional-example_1 img {
    width: 287px;
    height: 151px;
    }


.additional-examples_2 {
    border-width: 2px;
    margin-right: 10px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.additional-example_2 img {
    width: 287px;
    height: 151px;
    }


.additional-examples_3 {
    border-width: 2px;
    margin-right: 10px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.additional-examples_3 img {
    width: 287px;
    height: 151px;
    }

 .about-me h2 {
    text-align: center;
 }   

h2 
{
    color:rgb(191, 191, 191);
    text-align: center;
}

h3 {
    color:rgb(191, 191, 191);
    text-align: center; 
}

h4 {
    color:rgb(191, 191, 191);
    text-align: center; 
}

h5 {
    color:rgb(191, 191, 191);
/*    text-align: center; */
}



@media screen and (max-wdith: 992px){
    .work {
    width:50%;
    flex-direction: column;
    }
}

@media screen and (max-wdith: 768px){
    .work {
      width:100%;
      flex-direction: column;
    }
}

