* {
    padding: 2;
    margin-left: 10;
    margin-right: 10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-decoration-color:rgb(43, 68, 68); */
    max-width: 100%;
}

body {

       background-color:rgb(153, 0, 51); 
       /* gray text: rgb(191, 191, 191)*/
}


header  {
    display: flex;
    background-color: rgb(191, 191, 191);
    margin-bottom: 20px;
    max-height: 120px;
    }

header h1 {
    color:rgb(191, 191, 191);
    background-color:rgb(153, 0, 51);
    text-align: center;
    display: inline-block;  
    }
    
nav {
        color: rgb(153, 0, 51); 
        padding: 10px 10px;
        max-height:50px; 
      }

nav a { 
        text-decoration: underline;
      }
  
nav ul li {
    display: inline-block;
    margin-left: 25px; 
    color: rgb(153, 0, 51);
    /* max-height: 100px; */
    text-align:right;    
}
     
main {
    display: flex;
   /* flex-wrap: wrap; */
   /* flex-direction: column; */
    padding: 20 px;
    margin-top: 2px;
    margin-right: 2px;
}

.about-me {
    margin-right: 20px;
}

.work {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        width: 100%;
        height: 75%%;
        border-width: 2px;
        padding: 20 px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
       
    }  
/* .card { 
    height: 100%;
    width: 100%;
    border: 1px solid #000;*/
}

.main-example img {
width: 75%
}

/* .main-example h3 {
    text-indent:50%;
} */

.main-example {
    border-width: 2px;
    padding: 20 px;
    margin-right: 10px;
    margin-top: 20px;
    max-width: 100%;
}


h2 {
    /* color:rgb(39, 76, 243); */
    color:rgb(191, 191, 191);
}

h3 {
    color:rgb(191, 191, 191);
    text-align: center; 
}

h4 {
    color:rgb(191, 191, 191); 
}

.about-me {
   display: flex;
   flex-wrap: wrap;
   color: rgb(67, 129, 131);
   width: fit-content;
   height: fit-content;
   margin-bottom: 10% ;
}

.about-me img {
padding-top: 20px;

}
.secondary
        {
    display: flex;
    /* margin-top: 70px ; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
}

.secondary {
    width: 90%
}

footer {
    display: flex;
    background-color:rgb(191, 191, 191);    
}

footer h2 {
text-align: center;
color: rgb(153, 0, 51);    
}

footer ul {
    margin-top: 45px ;
}
footer ul li {
    display: flex;    
    text-decoration: underline;
    color:rgb(153, 0, 51)
}

@media screen and (max-wdith: 992px){
    .work {
    width:50%;
    flex-direction: column;
    }
}

@media screen and (max-wdith: 768px){
    .work {
      width:100%;
      flex-direction: column;
    }
}

