* {
    padding: 2;
    margin: 2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-decoration-color:rgb(43, 68, 68); */
}

body {

       background-color:rgb(73, 182, 255); 
}

nav {
    color:cyan; 
      /*color:rgb(39, 76, 243); */
      display: flex;
      float: right; 
      /*background-color:rgb(127, 190, 233); */
      padding: 14px 20px;
      /* Change background color to distinguish from rest of page */
    }

nav a {
     /*background-color:rgb(127, 190, 233); 
      padding: 0px 25px; */
      float: right;  
      text-decoration: underline;
      /* text-align:     ; */
    }

header  {
    background-color: cyan;
    margin-bottom: 60px;
    /*background-color:rgb(73, 182, 255);
    padding: 14px 20px; */
    }

header h1 {
    color: cyan;
    background-color:rgb(73, 182, 255);
    padding: 5px 10px;
    text-align: center;
     /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
      display: inline-block;  
    }

header ul li {
    display: inline-block;
    margin-left: 25px;
    }
     
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20 px;
    margin-top: 2px;
    margin-right: 2px;
}

.work {
        display: flex;
        width: 1005px;
        height: 600px;
        border-width: 2px;
        padding: 20 px;
        margin-right: 10px;
        padding-bottom: 50px;
    }

.main-example {
    margin-top: 70px ;
}    
  
.main-example h3 {
    text-indent:50%;
}

.secondary-examples h3 {
    text-indent:25% ;
}


.main-example {
    border-width: 2px;
    padding: 20 px;
    margin-right: 10px;

}
.content h2 {
    /* color:rgb(39, 76, 243); */
    color:cyan;
}

p {
    color:rgb(39, 76, 243); 
}

.about-me .card {
    color: rgb(67, 129, 131);
}

aside {
    margin-top: 70px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
}

footer {
    text-align: center;
    display: flex;
    color: cyan;    
}

footer img {
    margin-top: 70px ;
    max-height: 100px ;
    margin-left: 35px ;
}

footer ul {
    margin-top: 65px ;
}
footer ul li {
    display: flex;    
    text-decoration: underline;
}


